@use 'bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;
@use '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@use '/src/assets/scss/partials/main';

header {
    background-color: $primary;
}

footer {
    background-color: $dark;
}

a{
    cursor: pointer;
}

