.trans-back {
    display: none;
}

.card:hover .trans-front {
    display: none;
}

.card:hover .trans-back {
    display: block;
}



.sost{
    position: absolute;
    top: 500px;
    left: 0px;
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 0px 10px;
}

.sost-2{
    position: absolute;
    top: 500px;
    left: 65px;
    background-color: green;
    color: white;
    font-weight: bolder;
    padding: 0px 10px;
}

.disc{
    position: absolute;
    top: 500px;
    left: 0px;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 0px 10px;
}

.heart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 40px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.heart:hover {
    color: red;
    cursor: pointer;
    background-color: white;
    transition: 0.1s;
  }